@use '../../../components/styles/abstracts/variables' as *;
.flashcardList-page{
   width: 100%;
    position: relative;
    height:calc(100vh - 22.1rem);
    overflow-x: hidden;
    overflow-y: scroll;
   padding: 3.5rem 3.5rem 0 3.5rem;
        &--header{
            font-size: 2.3rem;
            font-weight: 500;
        }
        &--text{
            font-size: 1.4rem;
            color: $color-grey-medium;
            font-weight: 400;
        }

    &__grid-holder{
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
    padding: 3rem 0;
    width: 100%; 
  
    }
}