@use '../../styles/abstracts/variables' as *;
.tab{
    padding: 0rem 3rem;
    
    &__nav{
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
      
    }
    &__button{
        position: relative;
        border: none;
        background: transparent;
        padding: 1rem 2rem 2rem;
        color: rgba($color-grey-medium, .9);
        transition: color 0.3s ease;
        cursor: pointer;

        &::after{
            content: "";
            position: absolute;
            height: 2px;
            width: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color-Accent;
            transition: all 0.3s ease-in-out;
            transform: translateX(-50%);
        
                }
    }
    .active{
        color: $color-Accent;
       
        &::after{
            width: 100%;
        }
    }

    
}